diffusion:
  target: diffusion.base_diffusion.ColdDiffusion
  params:
    parameterization: x0
    schedule: cosine
    num_timestep: 100

model:
  target: models.unet.unet_receptive.UNetModel
  params:
    image_size: 512
    in_channels: 5
    out_channels: 5
    model_channels: 192
    #dropout: 0.3
    # attention_downsample:
    # - 8
    # - 16
    # - 32
    attention_resolutions: 2
    num_res_blocks: 2
    num_head_channels: 16
    channel_mult:
    - 1
    - 2
    - 4
  ckpt: 

data:
  bs_per_gpu: 2
  num_workers: 1
  params:
    dir:  /kaggle/input/tutti-le-classi-di-difetti-per-il-gan-senza-disti
    resolution: 512
    num_image_train: 22

optimizer:
  params:
    lr: 0.0001
    weight_decay: 0.002

train:
  iterations: 16000
  log_image_interval: 1000
  save_ckpt_interval: 1000
  max_images: 1
  eval_interval: 10
